{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h2>Editar postagem</h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/postagem/edit" method="POST">
            <input type="hidden" value="{{postagem._id}}" name="id">
            <label for="titulo">Título: </label>
            <input type="text" name="titulo" class="form-control" value="{{postagem.titulo}}" required>

            <label for="slug">Slug: </label>
            <input type="text" name="slug" class="form-control" value="{{postagem.slug}}" required>
            
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" class="form-control" value="{{postagem.descricao}}" required>

            <label for="conteudo">Conteúdo: </label>
            <textarea name="conteudo" class="form-control" required>{{postagem.conteudo}}</textarea>

            <label for="categoria">Categoria: </label>
            <select name="categoria" class="custom-select">
                {{#each categorias}}
                <option value="{{_id}}">{{nome}}</option>
                {{else}}
                <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>

            <button class="btn btn-success mt-4" type="submit">Salvar alterações</button>
        </form>
    </div>
</div>