<div class="jumbotron">
  <h1 class="display-4">BlogNode</h1>
  <p class="lead">Este é um blog simples desenvolvido com Node.js + Express + MongoDB.</p>
  <hr class="my-4">
  <p>Aqui você poderá ler sobre novidades do mundo  da computação.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Registre-se!</a>
</div>


<hr />
<h2>Postagens recentes: </h2>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-outline-primary">Leia mais</button></a>
    <hr />
    <small>Categoria: {{categoria.nome}}</small>
    <br />
    <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
<h5>Nenhuma postagem</h5>
{{/each}}